# fill this file and rename it to .env

# The logging level for the application. It controls the granularity of logs generated.
# Values can typically be DEBUG, INFO, WARNING, ERROR, or CRITICAL
LOG_LEVEL=DEBUG 

# Assume that you have a Server-to-Server OAuth2 application registered in the Zoom marketplace.
# The following are the credentials for that application.

# The Account ID for the OAuth2 application.
ACCOUNT_ID=<Your-Anonymized-Account-ID>  # Anonymized

# The Client ID for the OAuth2 application. 
# This is sensitive information and should be kept secure.
CLIENT_ID=<Your-Anonymized-Client-ID>  # Anonymized

# The Client Secret for the OAuth2 application. 
# This is sensitive information and should be kept extremely secure.
CLIENT_SECRET=<Your-Anonymized-Client-Secret>  # Anonymized
